.card {
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
   
    gap: 1rem;
}

p.price {
    color: #a5742a;
    font-weight: 700;
}

h3.item-name {
    font-weight: 600;
}

p.item-decpn {
    color: gray;
    text-align: center;
}